.SocialMedia {
  &-list {
    display: flex;
    justify-content: space-around;
  }

  &-item { list-style-type: none; }

  &-link {
    font-size: 10vw;
    color: #FFF;

    &:hover { color: #0096D9; }

    @media screen and (min-width:48em) { font-size: 5vw; }
  }
}
